<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomatorun.repository.AttachmentRepository">
    <select id="list" resultType="HashMap">
        SELECT * from dt_attachment where referenceId = #{referenceId} and type=#{type};
    </select>

    <select id="list_count" resultType="Integer">
        SELECT count(id) from dt_attachment where referenceId = #{referenceId} and type=#{type};;
    </select>

    <delete id="delete">
        delete from dt_attachment where id in (${ids});
    </delete>

    <select id="get" resultType="HashMap">
        select * from dt_attachment where id = #{id};
    </select>

    <insert id="add">
        insert  into dt_attachment(referenceId,url,type) values(#{referenceId},#{url},#{type});
    </insert>

    <delete id="deleteByParams">
        delete from dt_attachment
        where 1=1 AND referenceId = #{referenceId}  AND type=#{type}
        <if test="url!=null">
            AND url = #{url}
        </if>
    </delete>

</mapper>