<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomatorun.repository.CommentRepository">
    <select id="list" resultType="HashMap">
        SELECT dt.id,dt.userId,dt.userGoodsId,dt.content,dt.status,
        CONCAT(dt.time,'') as time,u.realName
        FROM dt_comment dt
        JOIN tab_user u
        ON dt.userId = u.id
        where 1=1
        <if test="check!=null">
            AND dt.status = #{status}
        </if>
        <if test="userId!=null">
            AND dt.userId = #{userId}
        </if>
        GROUP BY dt.id
        ORDER BY
        dt.time desc
        limit ${offset},${pageSize}
    </select>

    <select id="list_count" resultType="Integer">
        SELECT count(id) from dt_comment dt
        where 1=1
        <if test="userId!=null">
            AND dt.userId = #{userId}
        </if>
        <if test="check!=null">
            AND dt.status = #{status}
        </if>
    </select>

    <update id="update">
        update dt_comment set
        <if test="content!=null">
            content = #{content}
        </if>
        where id = #{id}
        AND userId =#{userId}
    </update>

    <delete id="delete">
        delete from dt_comment where id in (#{id})
    </delete>

    <select id="get" resultType="HashMap">
        SELECT dt.id,dt.userId,dt.userGoodsId,dt.content,dt.status,
        CONCAT(dt.time,'') as time,u.realName
        FROM dt_comment dt
        JOIN tab_user u
        ON dt.userId = u.id
        where dt.id = #{id}
        GROUP BY dt.id
        limit 1
    </select>

    <insert id="add">
        insert  into dt_comment(userId, userGoodsId, content, time, status)
        values
        (#{userId},#{userGoodsId},#{content},CURRENT_TIMESTAMP(),#{status});
    </insert>

    <update id="check">
        update dt_comment set
        status = #{status}
        where id = #{id};
    </update>

</mapper>