<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomatorun.repository.DTUserRepository">
    <select id="list" resultType="HashMap">
        SELECT * from tab_user
        where
        <if test="type==null">
            type is null
        </if>
        <if test="type!=null">
            type = #{type}
        </if>
        <if test="groupLeaderId != null">
            AND groupLeaderId = #{groupLeaderId}
        </if>
        limit ${offset},${pageSize}
    </select>

    <select id="list_count" resultType="Integer">
        SELECT count(id) from tab_user
        where
        <if test="type==null">
            type is null
        </if>
        <if test="type!=null">
            type = #{type}
        </if>
    </select>

    <update id="update">
        update tab_user set /*** todo ***/
    </update>

    <delete id="delete">
        delete from tab_user where id in (${ids});
    </delete>

    <select id="get" resultType="HashMap">
        select * from tab_user where id = #{id};
    </select>

    <insert id="add">
        insert  into tab_user(userName,groupLeaderId,password,active,type,realName)
        values(#{userName},#{groupLeaderId},#{password},true,#{type},#{realName});
    </insert>

    <insert id="register">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into tab_user(userName,password,realName,active,sex,IDNumber,avatar,type,contact)
        values(#{userName},#{password},#{realName},#{active},#{sex},#{IDNumber},#{avatar},#{type},#{contact});
    </insert>

    <select id="isUserRegistered" resultType="Boolean">
        select count(*)>0 from tab_user where userName = #{userName}
    </select>

    <update id="changeUserStatus">
        update tab_user set active = #{status} where id = #{id}
    </update>

    <update id="resetPassword">
        update tab_user set password = #{password} where id = #{id}
    </update>

    <update id="updateAvatar">
        update tab_user set avatar = #{avatar} where id = #{id};
    </update>

    <select id="getAddresses" resultType="HashMap">
        SELECT ua.* FROM dt_user_address ua where ua.userId = #{userId}
    </select>

    <insert id="addAddress">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into dt_user_address(address,consignee,isDefault,phoneNumber,userId)
        values(#{address.address},#{address.consignee},#{address.isDefault},#{address.phoneNumber},#{address.userId});
    </insert>

    <delete id="deleteAddress">
        delete from dt_user_address where id = #{addressId};
    </delete>

    <update id="updateAddress">
        update dt_user_address set address = #{address.address},
        consignee = #{address.consignee},phoneNumber = #{address.phoneNumber} where id = #{address.id}
    </update>

    <select id="getAddress" resultMap="address">
        select * from dt_user_address where id = #{addressId};
    </select>

    <update id="unSetDefaultAddress">
      update dt_user_address set isDefault = FALSE where userId = #{userId};
    </update>

    <update id="setDefaultAddress">
        update dt_user_address set isDefault = true where userId = #{address.userId} and id = #{address.id};
    </update>

    <resultMap id="address" type="com.tomatorun.dto.Address">
        <result column="id" property="id" javaType="Long"></result>
        <result column="address" property="address" javaType="String"></result>
        <result column="consignee" property="consignee" javaType="String"></result>
        <result column="phoneNumber" property="phoneNumber" javaType="String"></result>
        <result column="isDefault" property="isDefault" javaType="Boolean"></result>
        <result column="userId" property="userId" javaType="Long"></result>
    </resultMap>

    <select id="getBalance" resultType="Double">
        select balance from dt_balance where userId = #{userId}
    </select>

    <update id="consume">
        update dt_balance set balance = #{balance} where userId = #{userId}
    </update>
</mapper>