<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomatorun.repository.GoodsRepository">
    <select id="list" resultType="HashMap">
        SELECT dt.id,dt.name,dt.price,dt.specification,td.name as level,tdic.name as unit
        <if test="withCover==true">
            ,(SELECT url FROM dt_attachment WHERE referenceId = dt.id AND type =#{attachmentType} LIMIT 1 ) as cover
        </if>
        from dt_goods dt
        join tab_dictionary td
        on td.code = dt.level and td.parentId = #{levelDicId}
        join tab_dictionary tdic
        on tdic.code = dt.unit and tdic.parentId = #{unitDicId}
        <if test="withCover==true">
            LEFT JOIN (SELECT * FROM dt_user_goods WHERE userId = #{userId}) dug ON dt.id = dug.goodsId
        </if>
        WHERE 1 = 1
        <if test="withCover==true">
            AND dug.id IS NULL
        </if>
        <if test="keyword==null">
            <if test="withCover!=true">
                <if test="categoryId==null">
                    AND dt.categoryId is null
                </if>
                <if test="categoryId!=null">
                    AND dt.categoryId = #{categoryId}
                </if>
            </if>
        </if>
        <if test="keyword!=null">
            AND dt.name like CONCAT('%',#{keyword},'%' )
        </if>
        limit ${offset},${pageSize}
    </select>

    <select id="list_count" resultType="Integer">
        SELECT count(dt.id) from dt_goods dt
        <if test="withCover==true">
            LEFT JOIN (SELECT * FROM dt_user_goods WHERE userId = #{userId}) dug ON dt.id = dug.goodsId
        </if>
        WHERE 1 = 1
        <if test="withCover==true">
            AND dug.id IS NULL
        </if>
        <if test="keyword==null">
            <if test="categoryId==null">
                AND dt.categoryId is null
            </if>
            <if test="categoryId!=null">
                AND dt.categoryId = #{categoryId}
            </if>
        </if>
        <if test="keyword!=null">
            AND dt.name like CONCAT('%',#{keyword},'%' )
        </if>
    </select>

    <update id="update">
        update dt_goods set name = #{name},specification=#{specification},
         level = #{level},price=#{price},unit=#{unit} where id = #{id};
    </update>

    <delete id="delete">
        delete from dt_goods where id in (${ids});
    </delete>

    <select id="get" resultType="HashMap">
        select * from dt_goods where id = #{id};
    </select>

    <insert id="add">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert  into dt_goods(name,categoryId,specification,price,level,unit)
        values(#{name},#{categoryId},#{specification},#{price},#{level},#{unit});
    </insert>

    <insert id="select">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert into dt_user_goods(goodsId,inventory,userId)
        values(#{goodsId},#{inventory},#{userId});
    </insert>

    <select id="listForSupplier" resultType="HashMap">
        SELECT dt.name,dt.price,dug.id ,td.name as level,tdic.name as unit,dug.inventory,
        (SELECT url FROM dt_attachment WHERE referenceId = dt.id AND type =#{attachmentType} LIMIT 1 ) as cover
        from dt_goods dt
        join dt_user_goods dug
        on dug.goodsId = dt.id
        join tab_dictionary td
        on td.code = dt.level and td.parentId = #{levelDicId}
        join tab_dictionary tdic
        on tdic.code = dt.unit and tdic.parentId = #{unitDicId}
        WHERE dug.userId = #{userId}
        <if test="keyword!=null">
            AND dt.name like CONCAT('${keyword}','%' )
        </if>
        limit ${offset},${pageSize}
    </select>

    <select id="listForSupplier_count" resultType="Integer">
        SELECT count(dt.id)
        from dt_goods dt
        join dt_user_goods dug
        on dug.goodsId = dt.id
        WHERE dug.userId = #{userId}
    </select>

    <delete id="deleteSelectGoods">
        delete from dt_user_goods where id = #{selectGoodsId}
    </delete>
</mapper>