<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tomatorun.repository.OrderRepository">
<!--用于支付-->
    <select id="list" resultType="HashMap">
        SELECT id,number,DATE_FORMAT(TIME,'%Y-%m-%d %H:%i:%s') as time,status,shopId,
        userId,addressId,totalPrice from dt_order
        WHERE 1 = 1
        <if test="userId!=null">
            AND userId = #{userId}
        </if>
        <if test="ids!=null">
            AND id in
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
            AND status = #{unpaid}
        </if>
        order by time desc
    </select>


    <update id="update">
        update dt_order set status = #{status}
        <if test="flag!=null">
            ,flag=#{flag}
        </if>
        where id = #{id};
</update>

    <delete id="delete">
        delete from dt_order where id in (${ids});
    </delete>

    <insert id="add">
        <selectKey resultType="Long" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID() AS id
        </selectKey>
        insert  into dt_order(number,userId,addressId,totalPrice,status,time,shopId,flag)
        values(#{name},#{userId},#{addressId},#{totalPrice},#{status},CURRENT_TIMESTAMP,#{shopId},#{flag});
    </insert>


    <select id="listForShop" resultType="HashMap">

        SELECT doe.id,doe.number,DATE_FORMAT(doe.time,'%Y-%m-%d %H:%i:%s') as time,doe.status,
        doe.userId,doe.addressId,doe.totalPrice,u.userName,u.realName,da.address
        FROM dt_order_detail  dod
        JOIN dt_user_goods dug
        ON dug.id = dod.userGoodsId
        JOIN dt_order doe
        ON doe.id = dod.orderId
        JOIN tab_user u
        ON u.id = doe.userId
        JOIN dt_user_address da
        on da.id = doe.addressId
        WHERE dug.userId = #{userId} and doe.flag&amp;${deletedFlag} = 0
        GROUP BY orderId
        order by time desc
    </select>

    <select id="listForShop_count" resultType="Integer">
        SELECT count(DISTINCT orderId)
        FROM dt_order_detail  dod
        JOIN dt_user_goods dug
        ON dug.id = dod.userGoodsId
        WHERE dug.userId = #{userId}
    </select>

    <select id="listForUser" resultType="HashMap">
        SELECT doe.id,doe.number,DATE_FORMAT(doe.time,'%Y-%m-%d %H:%i:%s') as time,doe.status,
        doe.userId,doe.addressId,doe.totalPrice,da.address
        from dt_order doe
        JOIN dt_user_address da
        on da.id = doe.addressId
        WHERE doe.userId = #{userId} and doe.flag&amp;${deletedFlag} = 0
        order by time desc
    </select>

    <select id="listForUser_count" resultType="Integer">
        SELECT count(id)
        FROM dt_order doe
        WHERE doe.userId = #{userId}
    </select>

    <update id="updateFlag">
        update dt_order set flag = #{order.flag} where id = #{order.id}
    </update>

    <select id="getWidthShop" resultType="HashMap">
        SELECT doe.*,ds.name
        FROM  dt_order doe join dt_shop ds on doe.shopId = ds.userId
        where doe.id = #{id}
    </select>

    <select id="get" resultMap="order">
        SELECT doe.*
        FROM  dt_order doe
        where doe.id = #{id}
    </select>

    <select id="getInsufficientGoodsForOrder" resultType="HashMap">
        SELECT
        dg.name
        FROM `dt_order_detail` dod
        JOIN `dt_user_goods`  dug
        ON dod.userGoodsId = dug.id
        JOIN dt_goods dg
        ON dg.id = dug.goodsId
        WHERE orderId in 
         <foreach collection="orderIds" open="(" close=")" separator="," item="orderId">
             #{orderId}
         </foreach>
         AND inventory &lt; purchaseNumber
    </select>
    
    <update id="consumeInventory">
        UPDATE dt_user_goods dug,dt_order_detail dod
        SET dug.inventory = dug.inventory - dod.purchaseNumber
        WHERE dod.userGoodsId = dug.id
        AND dod.orderId in
        <foreach collection="orderIds" open="(" close=")" separator="," item="orderId">
            #{orderId}
        </foreach>
    </update>

    <resultMap id="order" type="com.tomatorun.dto.Order">
        <result column="id" javaType="Long" property="id"></result>
        <result column="userId" javaType="Long" property="userId"></result>
        <result column="shopId" javaType="Long" property="shopId"></result>
        <result column="status" javaType="Integer" property="status"></result>
        <result column="flag" javaType="Integer" property="flag"></result>
        <result column="addressId" javaType="Long" property="addressId"></result>
        <result column="time" javaType="java.util.Date" property="time"></result>
        <result column="number" javaType="String" property="number"></result>
    </resultMap>
</mapper>