@CHARSET "UTF-8";
.h-center{
    text-align: center;
}

.main-container{
    position: absolute;
    top: 52px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border: none;
    overflow: hidden;
}

.nav-header{
    background: #000;
    border-radius: 0px;
}


.main-container iframe{
    border: none;
    width: 100%;
    height: 100%;
}

.app-version{
    color: #E26D6D;
    float: right;
    line-height: 52px;
    margin-left: 15px;
}

@media(max-width: 768px){
    .navbar-inverse-collapse{
        position: absolute;
        z-index: 1000;
        width: 100%;
        background: rgb(0, 0, 0);
    }
}

.no-menu{
    color: #ccc;
    text-align: center;
    display: block;
}

.pointer{
    cursor: pointer;
}

.close-tab{
    margin-left: 5px;
    margin-right: -5px;
}
.tabbody{
    position: relative;
}

.tabcont{
    position: absolute;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
}

.auto-height{/*主要针对bootstrap的col-xx-x修改其min-height:1px;引起的table高度问题*/
    min-height: inherit !important;
}

/*工具样式*/
.margin-top-md{
    margin-top:5px;
}

.no-padding-left{
    padding-left: 0;
}

.fill-parent{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}


html,body{
    height:100% ;
}

a{
    outline: 0;
}
.clearLine{
    _blr:expression(this.onFocus=this.blur());
    outline: 0;
}

.floatl{
    float: left;
}
.floatr{
    float: right;
}
.wrapper{
    width: 1004px;
    margin: 0 auto;
    position: relative;
}
/* CSS Document common */
body{
    font-size: 12px;
    font-family: "宋体";
    color: #5D5D5D;
    background-color: #ECF5DB;
}

.page-navigation{
    width: 100%;
}
.navigationbar{
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align:right;
    background: #E2DFDF;
    border-bottom: 1px solid #FFFFFF;
}
.navigationbar .header-container{
    width:1004px;
    margin:0 auto;
    height:30px;
    overflow:hidden;
}
.navigationbar .header-container .boldhead{
    font-weight:bold;
    color: #736F73;
}
.page-navigation .header{
    height: 88px;
    width: 100%;
}
.page-navigation .header .thead{
    padding-top:20px;
}
.page-navigation .header .thead .logo{
    float: left;
    height: 38px;
    padding-top: 10px;
}
.page-navigation .header .thead .telephone{
    display: inline-flex;
    float: right;
    width: 300px;
    height: 62px;
}

.content{
    min-height: 100%;
    padding-bottom:50px ;
}

.footer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    background-color: #59A111;
    margin-top:-50px;
}