/* CSS Document common */
html,body,div,ol,ul,li,dl,dd,dt,menu,h1,h2,h3,h4,h5,h6,p,pre,code,fieldset,legend,form,input,button,textarea,blockquote,table,caption,
tr,th,td,figure,hr,article,section,audio,video,embed,canvas,details,datalist,figure,figcaption{
    margin: 0;
    padding: 0;
}
input,button,textarea,select,optgroup,option,code,pre{
    font-family: inherit;
    font-size: inherit;
    font-style: inherit;
    font-weight: inherit;
}
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
}
li{
    list-style: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle;
}
tr,th,td{
    vertical-align: inherit;
}
th{
    text-align: center;
}
iframe{
    height: inherit;
    width: inherit;
}
q:before,q:after{
    content:"";
}
a{
    outline: 0;
}
.clearLine{
    _blr:expression(this.onFocus=this.blur());
    outline: 0;
}
header,nav,article,section,aside,figure,figcaption,canvas,audio,video,embed,isindex,map,menu,footer,.img2a,dl,dt,dd,.db{
    display: block;
}
a{
    text-decoration: none;
    color: #5D5D5D;
}
a:hover{
    color: #FF6600;
}
.none{
    display:none;
}
.clearfix:after{
    clear: both;
    content:".";
    display: block;
    height: 0;
    visibility: hidden;
}
.ti{
    text-indent: 2em;
}
.floatl{
    float: left;
}
.floatr{
    float: right;
}
.wrapper{
    width: 1004px;
    margin: 0 auto;
    position: relative;
}
/* CSS Document common */
body{
    font-size: 12px;
    font-family: "宋体";
    color: #5D5D5D;
    background-color: #ECF5DB;
}
.page-navigation{
    width: 100%;
}
.navigationbar{
    height: 35px;
    width: 100%;
    line-height: 35px;
    text-align:right;
    background: #E2DFDF;
    border-bottom: 1px solid #FFFFFF;
}
.navigationbar .header-container{
    width:1004px;
    margin:0 auto;
    height:30px;
    overflow:hidden;
}
.navigationbar .header-container .boldhead{
    font-weight:bold;
    color: #736F73;
}
.page-navigation .header{
    height: 88px;
    width: 100%;
}
.page-navigation .header .thead{
    padding-top:20px;
}
.page-navigation .header .thead .logo{
    float: left;
    height: 38px;
    padding-top: 10px;
}
.page-navigation .header .thead .telephone{
    display: inline-flex;
    float: right;
    width: 300px;
    height: 62px;
}
.goods-show{
    height: 60px;
    line-height: 60px;
    background: #70D25B;
    font-size: 25px;
}
.goods-container{
    height: 500px;
    margin-bottom: 20px;
}
.goods-container > span{
    display: inline-block;
}
 .goods-container .goods-left{
     width: 50%;
 }
.goods-container .goods-left .goods-img{
    width: 400px;
    height: 400px;
}
.goods-container .goods-left .goods-img img{
    width: 100%;
    height: 100%;
}
.goods-container .goods-left .goods-img-list{
    width:100%;
    height: 100px;
    margin-top: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
}
.goods-container .goods-left .goods-img-list span{
    width:100px;
    height: 100px;
    display: inline-block;
}
.goods-container .goods-left .goods-img-list span img{
    width:100%;
    height: 100%;
    padding: 10px;
}
.goods-container .goods-right{
    width: 50%;
    height: 400px;
    float: right;
    font-size: 14px;
}
.goods-container .goods-right .goods-name{
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}
.goods-container .goods-right .goods-price{
    height: 50px;
    line-height: 50px;
    padding-left: 18px;
}
.goods-container .goods-right .goods-buy{
    height: 50px;
    line-height: 50px;
    padding-left: 18px;
}
.goods-container .goods-right .goods-buy > span{
   display: inline-block;
}
.goods-container .goods-right .goods-add{
    height: 100px;
    padding-left: 20px;
    padding-top: 20px
}

.goods-container .goods-right .goods-add span{
    height: 45px;
    width: 120px;
    margin-top: 50px;
    line-height: 45px;
    background: #00BF44;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}
.service-list{
    height: 150px;
    border: 1px solid #DEDEDE;
    padding-top: 30px;
    line-height: 24px;
    background-color: #FFFFFF;
}
.service-list dl:first-child {
    margin-left: 60px;
}
.service-list dl {
    float: left;
    width: 190px;
}
.service-list .callctn {
    float: left;
    padding-top: 10px;
    width: 165px;
    height: 140px;
    border-left: 1px solid #DEDEDE;
    margin-left: -24px;
    padding-left: 20px;
}
.footer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    background-color: #59A111;
}

.goods-buy .number{
    display: inline-block;
    width: 120px;
    vertical-align: middle;
}

.goods-buy .number input{
    text-align: center;
}