
.goods-container{
    height: 500px;
    margin-bottom: 20px;
}
.goods-container > span{
    display: inline-block;
}
 .goods-container .goods-left{
     width: 400px;
 }

.goods-container .goods-left .goods-img .middle-img{
    width: 400px;
    height: 400px;
    border:none !important;
}
.goods-container .goods-left .goods-img-list{
    width:100%;
    height: 100px;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
}

.small-images{
    width: auto;
    margin:0 28px;
    overflow: hidden;
    white-space: nowrap;
}

.goods-img-list i{
    line-height: 100px;
}
.left-opt{
    float: left;
    background: #F2EFEF;
    width: 25px !important;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    color: #BBB;
    cursor: pointer;
}

.right-opt{
    float: right;
    background: #F2EFEF;
    width: 25px !important;
    text-align: center;
    line-height: 100px;
    font-size: 40px;
    color: #BBB;
    cursor: pointer;
}
.goods-container .goods-left .goods-img-list span{
    width:100px;
    height: 100px;
    display: inline-block;
    border: solid 2px transparent;
}
.goods-container .goods-left .goods-img-list span img{
    width:100%;
    height: 100%;
    padding: 2px;
}
.goods-container .goods-right{
    width: 50%;
    height: 400px;
    float: right;
    font-size: 14px;
}
.goods-container .goods-right .goods-name{
    height: 50px;
    line-height: 50px;
    padding-left: 20px;
}
.goods-container .goods-right .goods-price{
    height: 50px;
    line-height: 50px;
    padding-left: 18px;
}
.goods-container .goods-right .goods-buy{
    height: 50px;
    line-height: 50px;
    padding-left: 18px;
}
.goods-container .goods-right .goods-buy > span{
   display: inline-block;
}
.goods-container .goods-right .goods-add{
    height: 100px;
    padding-left: 20px;
    padding-top: 20px
}

.goods-container .goods-right .goods-add span{
    height: 45px;
    width: 120px;
    margin-top: 50px;
    line-height: 45px;
    background: #00BF44;
    border-radius: 10px;
    cursor: pointer;
    display: inline-block;
}
.service-list{
    height: 150px;
    border: 1px solid #DEDEDE;
    padding-top: 30px;
    line-height: 24px;
    background-color: #FFFFFF;
}
.service-list dl:first-child {
    margin-left: 60px;
}
.service-list dl {
    float: left;
    width: 190px;
}
.service-list .callctn {
    float: left;
    padding-top: 10px;
    width: 165px;
    height: 140px;
    border-left: 1px solid #DEDEDE;
    margin-left: -24px;
    padding-left: 20px;
}
.footer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #FFFFFF;
    background-color: #59A111;
}

.goods-buy .number{
    display: inline-block;
    width: 120px;
    vertical-align: middle;
}

.goods-buy .number input{
    text-align: center;
}

.goods-add .btn{
    width: 120px;
}


.title{
    background: #59A111;
    height: 44px;
    line-height: 44px;
    font-size: 20px;
    padding-left: 20px;
    border-radius: 4px;
    margin-bottom: 20px;
}

.goods-container .goods-left .goods-img-list span:hover{
    border: solid 2px #F06464;
}

.zoomPad{
    margin-bottom: 20px;
}

.description-title{
    border-bottom: solid 2px #59A111;
    font-size: 20px;
    margin-top: 40px;
}
.comment-title{
    border-bottom: solid 2px #59A111;
    font-size: 20px;
    margin-top: 40px;
}
.comment-content{
    padding: 1%;
    margin: 0 1%;
    width: 98%;
}
.comment-content.has-border{
    border-bottom: 1px solid #7CA98B;
}
.comment-content div{
    display: inline-block;
}
.comment-content .comment{
    width: 60%;
}
.comment-content .realname,
.comment-content .time{
    float: right;
    text-align: center;
    width: 20%;
}


.spec{
    border: solid 2px #CCC;
    padding: 5px;
    cursor: pointer;
}

.spec.selected{
    border: solid 2px #F29445;
}