.goods-show .goods-picture-container{
    float: left;
    width: 732px;
}
.goods-show .goods-picture-container .banner{
    position: relative;
    width: 731px;
    height: 283px;
    overflow: hidden;
}
.goods-show .goods-picture-container .banner img{
    position: absolute;
    left: 0px;
    right: 0px;
    width: 731px;
    height: 283px;
}
.goods-show .goods-scare-buying-container{
    float: right;
    width: 262px;
}
.goods-show .goods-scare-buying-container .countdown{
    background-color: #FFF;
    height: 282px;
}
.goods-show .goods-scare-buying-container .countdown .bor{
    height: 227px;
    overflow: hidden;
    text-align: center;
}
.goods-show .goods-scare-buying-container .countdown .bor .time{
    color: #909090;
    line-height: 24px;
    margin-top: 4px;
    width: 232px;
    height: 29px;
    overflow: hidden;
}
.goods-show .goods-scare-buying-container .countdown .bor .time span{
    color: #FF6600;
    font-family: "Arial";
    font-size: 24px;
    font-weight: bold;
    margin: 0px 5px;
}
.goods-show .goods-scare-buying-container .tita , .tita1{
    font-family: "Microsoft YaHei";
    font-size: 16px;
    height: 35px;
    line-height: 35px;
    padding: 0 20px;
    color: #F6F9F4;
    background: #106610;
}
.goods-show .goods-scare-buying-container .tita a{
    float: right;
    font-family: "宋体";
    font-size: 12px;
    color: #FFF;
    letter-spacing: 2px;
}
.goods-show .goods-scare-buying-container .tita1 a{
    font-family: "宋体";
    font-size: 12px;
    color: #FFF;
}
.goods-show .goods-scare-buying-container .tita a:hover{
    text-decoration: underline;
}
.goods-show .goods-scare-buying-container .snapgoods{
    height:227px;
    overflow:hidden;
    width:232px;
    display:inline-block;
}
.menu-bar .arrondi-tit{
    float: right;
    font-size: 12px;
    margin-right: -15px;
}
.menu-bar .arrondi-tit li{
    float: left;
    cursor: pointer;
    height: 35px;
    width: 79px;
    overflow: hidden;
    text-align: center;
    font-weight: bold;
    display: inline-block;
}
.goods-list-container{
    margin-bottom: 20px;
}
.goods-list-container .container-ul{
    width: 100%;
    background: #FFFFFF;
}
.goods-list-container .container-ul .container-li{
    width: 24.5%;
    height: 270px;
    display: inline-block;
}
.goods-list-container .container-ul .container-li > div{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.goods-list-container .container-ul .container-li .good-img{
    width: 100%;
    height: 80%;
    text-align: center;
    padding: 10px 5px;
}
.goods-list-container .container-ul .container-li .good-img:hover{
    cursor: pointer;
    border: 1px solid #8AEF2A;
}
.goods-list-container .container-ul .container-li .good-img img{
    max-width: 100%;
    max-height: 100%;
}
 .goods-list-container .container-ul .container-li .goods-content{
     width: 100%;
     height: 20%;
 }
.goods-list-container .goods-content{
    width: 100%;
    padding-left: 10px;
    font-size: 18px;
}
.goods-list-container .goods-content > div{
    width: 100%;
    font-size: 20px;
    line-height: 16px;
    overflow: hidden;
}
.goods-list-container .goods-content .title-main{
    width: 100%;
    height: 20px;
    font-size: 20px;
}
.service-list{
    height: 150px;
    border: 1px solid #DEDEDE;
    padding-top: 30px;
    line-height: 24px;
    background-color: #FFFFFF;
}
.service-list dl:first-child {
    margin-left: 60px;
}
.service-list dl {
    float: left;
    width: 190px;
}
.service-list .callctn {
    float: left;
    padding-top: 10px;
    width: 165px;
    height: 140px;
    border-left: 1px solid #DEDEDE;
    margin-left: -24px;
    padding-left: 20px;
}
