
.select-goods-container {
    border: solid 1px #ccc;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
}

.goods-container{
    border: solid 1px #ccc;
    position: absolute;
    top: 0;
    left:50%;
    bottom: 0;
    width: 50%;
}

.goods-item{
    display: inline-block;
    border: solid 1px #D2E8F5;
    padding: 5px;
    box-shadow: 1px 1px 8px 1px #ccc;
    margin: 5px 0 0 5px;
    background: #FFFFFF;
    position: relative;
}

.goods-item .delete{
    position: absolute;
    right: 10px;
    top: 4px;
    font-size: 20px;
    color: #EC1506;
    cursor: pointer;
    display: none;
}

.select-goods-container .goods-item:hover .delete{
    display: inline-block;
}

.goods-container .goods-item{
    cursor: pointer;
}

.goods-item .cover-container{
    width: 120px;
    height: 120px;
    vertical-align: middle;
    display: table-cell;
    text-align: center;
}

.goods-item img{
    max-width: 120px;
    max-height: 120px;
}

.store-form{
    position: relative;
    background: #FFFFFF;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
}

.store-form .title{
    border-bottom: solid 1px #ccc;
}

.store-dialog{
    position: absolute;
}

.store-form .store-div{
    padding: 5px;
}
